@import 'ress';
@import 'custom-media.css';

:root {
  /* color */
  --color-text: #666;
  --color-key: #2b4fb7;
  --color-accent: #ff5441;
  --color-accent-rgb: 255, 84, 65;
  --color-sub: #b2b2b2;
  --color-bg: #f2f2f2;
  --color-bg-content: white;
  --color-bg-footer: #fafafa;
  --color-bg-pre: #e8e8e8;
  --color-border: rgba(0, 0, 0, 0.05);

  /* typography */
  --fontSize: 1.5rem;
  --fontSize-small: 1.2rem;
  --fontSize-title: 1.7rem;
  --fontSize-nav: 1.3rem;
  --fontSize-footer: 1.1rem;
  --fontFamily: system-ui;
  --fontFamily-code: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
  --letterSpacing: initial;
  --lineHeight: 1.7;
  --lineHeight-title: 1.45;

  /* size */
  --content-width: 820px;
  --padding-content-horizontal: 30px;
  --padding-content-horizontal-sp: 15px;
  --padding-content-vertical: 20px;
  --padding-content-vertical-sp: 15px;
  --padding-notice: 25px;
  --image-size: 50px;
  --favicon-size: 14px;
  --border-radius: 4px;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--fontFamily);
  font-size: var(--fontSize);
  line-height: var(--lineHeight);
  color: var(--color-text);
  letter-spacing: var(--letterSpacing);
  overflow-wrap: break-word;
  background-color: var(--color-bg);
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: unset;
  -webkit-text-size-adjust: 100%;

  & ::-moz-selection {
    color: white;
    background-color: var(--color-accent);
  }

  & ::selection {
    color: white;
    background-color: var(--color-accent);
  }

  @media (--retina) {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: var(--lineHeight-title);
}

pre {
  font-family: var(--fontFamily-code);
}

:any-link,
.link {
  color: var(--color-key);
  text-decoration: none;

  @media (hover) {
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  &.is-noborder {
    @media (hover) {
      &:hover {
        text-decoration: none;
      }
    }
  }
}
